
*.csv
data/Final Project.ipynb
data/ler_000b21a_e.zip
data/lpc_000b21f_e.zip
.ipynb_checkpoints/Final Project - 2-checkpoint.ipynb
.ipynb_checkpoints/Final Project-checkpoint.ipynb
data/.ipynb_checkpoints/Final Project-checkpoint.ipynb
.ipynb_checkpoints/Final Project-checkpoint.ipynb
.ipynb_checkpoints/Final Project - 2-checkpoint.ipynb
